.product-category {
    padding: 1% 5%;
    border: 1px solid blue;
    border-radius: 10px;
}

.product-categories-none {
    display: block;
    color: rgb(65, 80, 65);
    border: 1px solid red;
    border-radius: 10px;
}

.product-image {
    width: 200px;
    height: auto;
}